.card.cat {
  height: 8rem;
  cursor: pointer;
}

.card.cat img {
  transform: scale(1.2)
}

.card:hover {
  /* width: 8rem; */
  z-index: 10;
  transform:scale(1.5);
}

.card {
  justify-content: center;
  align-items: center;

  transition: all 300ms;
}

h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: lowercase;

  color: #49625E;
}

.bg-rectangle.explorar {
  top: 70%;
}
