.card.cat {
  height: 8rem;
  cursor: pointer;
}

.card.cat img {
  border-radius: 8px;
  transform: scale(2)
}

.card:hover {
  filter: grayscale(0);
  overflow: visible;
  z-index: 10;
  transform:scale(1.4);
}

.card {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  filter: grayscale(0.8);
  transition: all 300ms;
}

h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: lowercase;

  color: #49625E;
}

.bg-rectangle {
  top: 70%;
}
